<h2>ジャンル編集</h2>

  <% if @genre.errors.any? %>
    <%= render "layouts/error_messages", resource: @genre %>
  <% end %>

  <%= form_with model: @genre, local:true do |f| %>
    <div>
      <p>ジャンル</p>
        <%= f.text_field :name %>
        <%= f.submit "変更" %>
    </div>
  <% end %>
  <br>
  <div>
    <%= link_to "戻る", admin_genres_path %>
  </div>